a {
text-decoration: none;
}

body{
    margin:0;
}

html{
    background: url(http://i.imgur.com/Du80tmR.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.width90pct{
    width:90%;
    position: absolute;
    top: 260px;
    left: 65px;
}

.width45pct{
    width:45%;
}

.container{
    width:960px;
    position:relative;
}

.space{
    width:4%;
    height:10px;
    display: inline-block;
}

#logo{
    font-family: 'Merriweather Sans', sans-serif;
    color: #A01A00;
    font-size: 90px;
    top: 50px;
    left: 40px;
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0px;
}

#social {
    position: relative;
    left: -310px;
    top: 260px;
    width: 500px;
    margin: auto;
}

#tumblr{
    background-image:url(http://i.imgur.com/cQke59p.png);
    width:;
    height:;
    display:inline-block;
}

#tumblr:hover{
    background-image:url(http://i.imgur.com/cQke59p.png);
}


img{
    width:13% !important
}

@media (max-width: 800px) {
    img{
        width:9% !important
    }
}
