a {
text-decoration: none;
}

body{
    margin:0;
}

html{
    background: url(http://i.imgur.com/Du80tmR.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.width90pct{
    width:90%;
    position: absolute;
    top: 260px;
    left: 65px;
}

.width45pct{
    width:45%;
}

.container{
    width:960px;
    position:relative;
}

.space{
    width:4%;
    height:10px;
    display: inline-block;
}

#logo{
    font-family: 'Montserrat', sans-serif;
    color: #A01A00;
    font-size: 90px;
    top: 50px;
    left: 65px;
    position: absolute;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: -5px;
}

#social {
    position: relative;
    left: -310px;
    top: 260px;
    width: 500px;
    margin: auto;
}

#medium{
    background-image:url(http://i.imgur.com/PhZpzio.png);
    background-size:100%;
    display:inline-block;
}

#medium:hover{
    background-image:url(http://i.imgur.com/AHrupOr.png);
}    

#instagram{
    background-image:url(http://i.imgur.com/oOrY1Va.png);
    background-size:100%;
    display:inline-block;
}

#instagram:hover{
    background-image:url(http://i.imgur.com/D5gSccF.png);
}

#enstitute{
    background-image:url(http://i.imgur.com/Qt2xnpZ.png);
    background-size:100%;
    display:inline-block;
}

#enstitute:hover{
    background-image:url(http://i.imgur.com/2AcX7Wm.png);
}

#linkedin{
    background-image:url(http://i.imgur.com/eU8r6Qm.png);
    background-size:100%; 
    display:inline-block;
}

#linkedin:hover{
    background-image:url(http://i.imgur.com/mDy01NH.png);
}

#twitter{
    background-image:url(http://i.imgur.com/oGznqiT.png);
    background-size:100%;
    display:inline-block;
}

#twitter:hover{
    background-image:url(http://i.imgur.com/B59ulTy.png);
}


.width{ 
    width:50px;
    height:50px;
}

@media (max-width: 895px) {
    .width{
        width:35px;
        height:35px;
    }
    
}

@media (max-width: 745px) {
    .width{
        width:25px;
        height:25px;
    }
}

@media (max-width: 600px) {
    .width{
        display:none !important;
    }
}

#codystext{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #A01A00;
    top: 450px;
    left: -310px;
}
